<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
xmlns:th="http://www.thymeleaf.org">
<head>
<title>New User</title>
<link rel="stylesheet" th:href="@{/styles.css}" />
</head>
<body>
<form method="POST" th:object="${userData}">
<h1>Create user</h1>
<label for="name">Name: </label>
<input type="text" th:field="*{name}"/>
<span class="validationError"
th:if="${#fields.hasErrors('name')}"
th:errors="*{name}">Name Error</span>
<br/>
<label for="userPhone">Phone: </label>
<input type="text" th:field="*{userPhone}"/>
<span class="validationError"
th:if="${#fields.hasErrors('userPhone')}"
th:errors="*{userPhone}">Phone Error</span>
<br/>
<label for="userId">Enter User Id of your choice: </label>
<input type="text" th:field="*{userId}"/>
<span class="validationError"
th:if="${#fields.hasErrors('userId')}"
th:errors="*{userId}">User Id Error</span>
<br/>
<span class="validationError" th:text="${message}"></span>
<br/>
<button type="submit">Submit</button>
</form>
</body>
</html>